{{!-- Blend page, displays Household, Blend, and Household_Blend tables --}}

<main class="blends-container">
<input type="text" placeholder="Search..." class="search" name="search" id = "search">
<a href="/blends" id="myLink"><input type="submit" value="Search" class="search-submit" id ="search-submit"></a>
{{> etable title="Blends" map=blends}}
{{> table title="Households" map=households}}
{{> table title="Household-to-Blend Relationships" map=household_blends}}

<br><br>
<div id="form-container">
  <div id="blend-form">
    <label for="bname">Blend Name:</label><br>
    <input type="text" id="bname" name="bname"><br>
    <label for="quantity">Blend Quantity:</label><br>
    <input type="number" id="quantity" name="quantity"><br>
    <label for="bdescription">Blend Description:</label><br>
    <input type="text" id="bdescription" name="bdescription"><br><br>
    <input type="submit" value="Submit" id="blend-submit">
  </div>
  <br><br>
  <div id="blendtohouse-form">
    <label for="households">Household ID:</label><br>
    <select name="households" id="household-dropdown">
      {{#each households}}
        <option value="{{HouseholdID}}">{{HouseholdID}}</option>
      {{/each}}
    </select><br>
    <label for="blends">Blend ID:</label><br>
    <select name="blends" id="blend-dropdown">
      {{#each blends}}
        <option value="{{BlendID}}">{{BlendID}}</option>
      {{/each}}
    </select><br><br>
    <input type="submit" value="Submit" id="blendtohouse-submit">
  </div>
</div>
</main>
