{{!-- Blend page, displays Household, Blend, and Household_Blend tables --}}

<main class="blends-container">
{{> table title="Blends" map=blends}}
{{> table title="Households" map=households}}
{{> table title="Household-to-Blend Relationships" map=household_blends}}

{{!-- Write the form for input here --}}
</main>
