{{!Home Page View Template}}
{{!Author: Adam Kerr}}

<main class = "home">
<div id = "welcome">
  <h1>Welcome to The Spice Shop Admin Site</h1>
</div>

<img id = "welcome-img" src ="/Images/Spices2.jpg" alt= "Logo">

<div id = "intro">
  <p>The Spice Shop is a social media website that connects over a hundred thousand Households to share spice Blends and follow other Households. The Spice Shop’s average Household has five Members and each Blend contains an average of six Spices. The Household will create or save an average of two Blends and follow an average of two other Households. A database-driven website will record the list of Members in each Household and the list of Blends of Spices that they create, along with a list of other Blends from other Households that they saved for later and which other Households they follow. Households are able to ship to other Households spice blends if they are following each other.
  </p>
</div>
</main>
