{{!-- Spices page, displays Spice, Blend, and Spice_Blend tables --}}

<main class="spices-container">
{{> table title="Spices" map=spices}}
{{> table title="Blends" map=blends}}
{{> table title="Spice-to-Blend Relationship" map=spice_blend}}

{{!-- Write the form for input here --}}
</main>
