/* GENERAL */

body{
    background-color: white;
    color: black;
    margin: 0;
    font-size: large;
}

a{
    text-decoration: none;
    color: #72ad86;
}

main {
  margin-left:10%;
  margin-bottom: 30px;
  padding:1px 16px;
}

h1 {
  margin: 0px;
}

/* NAVIGATION BAR */

#head-logo {
  border-radius: 50%;
  width: 95%;
  height: 80%;
}

.site-title{
    background-color: #72ad86;
    padding: 20px 30px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

.navlist{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 8%;
  background-color: #72ad86;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  border-bottom: 1.5px solid #394a3f;
  border-top: 1.5px solid #394a3f;
}

.navitem{
    display: inline-block;
}

.navlink a{
    padding: 10px 16px;
    display: inline-block;
    color: white;
}

.navlink a:hover{text-decoration: none;}

/* INPUT FORMS */

input[type=text], input[type=password], input[type=number], select {
  width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
}

#form-container{
  display: flex;
}

#house-form, #housetohouse-form, #blend-form, #blendtohouse-form, #spice-form, #spicetoblend-form {
  width: 50%;
}

input[type=submit] {
  width: 45%;
  background-color: #669b78;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* TABLES */

table {
  border-collapse: collapse;
  width: 90%;
}

th {
  background-color: #8fd9a8;
}

th, td {
  border: 1px solid #b4a5a5;
  padding: 12px;
}

td.edit {
  border: 0px;
  background-color: #FFFFFF;
}

tr:nth-child(even){
  background-color: #e3e3e3;
}

tr:hover {
  background-color: #9fb8ad;
}

td input[type=submit] {
  width: 100%;
}

input[type=submit].delete {
  background-color: #fb3640;
}
